@mixin perspective( $perspective:0, $originX:0, $originY:0 ) {
  perspective: $perspective;
  -webkit-perspective: $perspective;
  -webkit-perspective-origin: $originX $originY;
  -moz-perspective: $perspective;
  -moz-perspective-origin: $originX $originY;
  -o-perspective: $perspective;
  -o-perspective-origin: $originX $originY;
  -ms-perspective: $perspective;
  -ms-perspective-origin: $originX $originY;
  perspective: $perspective;
  perspective-origin: $originX $originY;
}