/*
 *
 * Typography resets, font-face declarations and helpful mixins
 *
 */

@include font-face(HelveticaNeue, '../fonts/HelveticaNeueLTStd-Roman');
@include font-face(HelveticaNeue, '../fonts/HelveticaNeueLTStd-Roman', normal);
@include font-face(HelveticaNeue, '../fonts/HelveticaNeueLTStd-Bd', bold);
@include font-face(HelveticaNeue, '../fonts/HelveticaNeueLTStd-Th', 100);
@include font-face('Glyphicons Halflings', '../fonts/glyphicons-halflings-regular');

@import url(http://fonts.googleapis.com/css?family=Roboto:100,500italic,400);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 *
 * Begin base html element resets
 * Outside of this file, select on *classes* versus native HTML elements
 *
 */

html {
  font-size: 100%;
}

body {
  // @include font-smoothing; // <- _mixins.scss
  font-size: 1rem;
  margin: 0;
}

small {
  font-size: 0.75em;
  margin-top: 0.25em;
}

ul, ol {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 auto;
}

a {
  &.small {
    font-size: 10px;
    color: $blue;
    text-decoration: underline;
  }
}

p {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  color: $paragraphColor;
  line-height: 24px;
  &.small {
    font-family: Roboto;
    font-size: 12px;
    color: $paragraphColor;
    line-height: 15px;
  }

}

h1 {
	font-size: 32px;
	letter-spacing: 1px;
}
h2 {
  font-size: 50px;
  line-height: 54px;
  color: $blue;
  font-family: Roboto;
}
h3 {
  padding: 1em 0;
  font-family: Roboto;
  font-size: 16px;
  color: $blue;
  line-height: 18px;
}
h4 {
	font-size: 20px;
	letter-spacing: 1px;
}
h5 {

}
h6 {
  font-family: Roboto;
  font-size: 10px;
  color: #969696;
  line-height: 12px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
