$navigation-height: 50px;

$wrapper: 1024px;

$large-breakpoint: 1024px;
$medium-breakpoint: 768px;

$color-font: #1f1f1f;
$color-bg: #f9f9f9;
$selection: #0F0;
$lightGray: #999999;
$black: #000;
$darkGray: #666666;
$red: #e53339;
$seaBlue: #20a2ff;
$deepSeaBlue: #1688dc;
$white: #fff;
$lightGray: #eaeaea;
$lighterGray: #f5f5f5;
$success: #449d44;
$editor: #464646;


$editColor: #464646;
