$icons: sprite-map("icons/*.png", $layout: smart);

.icon {
	background: $icons;
	position: relative;
	display: inline-block;
}

.icon-Share-Facebok {
	@include get-sprite( Share-Facebook );
	&:hover {
		@include get-sprite( Share-Facebook );
	}
}

